.soon_box {
  padding: 150px;
}

.btn-email {
  font-size: 18px;
  background-color: $cta-color;
  color: $bg-color;
  line-height: 28px;
  padding-top: 9px;
  padding-bottom: 10px;
  padding-right: 25px;
  padding-left: 25px;
  border-radius: 3px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 9px;
}

.btn-email:hover {
  background-color: $cta-hover-color;
  color: $cta-color;
  border: 3px solid $cta-color;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 23px;
  padding-left: 23px;
}

.coming-text {
  margin-bottom: 40px;
  font-size: 22px;
}

@media (min-width: 100px) and (max-width: 1000px) {
  .soon_box {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 0px;
  }
}
