<div class="container soon_box">
  <h1 class="login-text">Hello! You caught us before we're ready.</h1>
  <p class="coming-text">We're working hard to put the finishing touches onto Little Miss Tech. You'll be able to get expert tech help very soon. If you'd like us to send you a reminder when we're ready, just put your email in below:</p>
  <a class="typeform-share button" href="https://form.typeform.com/to/KjQubGvO?typeform-medium=embed-snippet" data-mode="popup" style="display:inline-block;text-decoration:none;background-color:#8670FF;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:18px;line-height:45px;text-align:center;margin:0;height:45px;padding:0px 30px;border-radius:22px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" data-size="70" data-hide-headers="true" data-hide-footer="true" target="_blank">Remind me </a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
</div>



