<body class="expert-page">
  <div class="container">
    <div class="row inline solution">
      <div class="col-lg-5 col-sm-12">
        <h1 class="solution-text">Tech Mentor</h1>
        <h2>Wish you had a friend who was a pro at Facebook ads? Coding? Excel? Instagram marketing?</h2>
        <h2 class="cta-text">Get personalized advice from a pro in a 1 hour!</h2>
      </div>

      <div class="col-lg-5 col-sm-12 banner">
      </div>
    </div>
  </div>
</body>
