<div class="main-container">
  <div class="row inline">
    <div class="col-lg-6 col-sm-12 text">
      <h1 class="mb-3">Hey! Welcome to Lil Miss Tech ✨</h1>
      <h2>Technology can be a real struggle at times. Whatever it is, Zoom, your emails, social media... we want to help!</h2>
      <h2 class="mt-4">Answer a few questions and we'll call <br> you with a solution.</h2>
      <%#= We help you adapt to new technologies and reach your goals through personalized sessions with tech and marketing mentors.</h2>
      <%#= link_to "Chat to us", new_appointment_path, class: "btn button-home" %>
      <%= link_to "Chat to us", comingsoon_path, class: "btn button-home" %>
    </div>

    <div class="d-none d-sm-block col-md-12 col-lg-5 banner">
    </div>
  </div>
</div>
