<body class="quickfix-page">
  <div class="container">
    <h1 class="quickfix-title">Quick Tech Fix</h1>
    <h2>Got a meeting in a few hours and you can't figure out how to start Zoom? Can't get your emails?</h2>
    <h2 class="cta-text">We'll help you fix it in a 30 min phone call.</h2>
  </div>
</body>
