<div class="container quickfix-box">
  <h1 class="quickfix-title">Quick Tech Fix</h1>
  <h2 class="quickfix-intro">Got a meeting in a few hours and you can't figure out how to start Zoom? Can't get your emails?</h2>
  <h2 class="cta-text">We'll help you fix it in a 30 min phone call.</h2>
  <div class="tool-icons">
    <img class="avatar-large" alt="avatar-large" src="https://res.cloudinary.com/dsgq0xxxv/image/upload/v1611244187/StupidBug/zoom_logo_woxc1j.png" />
    <img class="avatar-large" alt="avatar-large" src="https://res.cloudinary.com/dsgq0xxxv/image/upload/v1613155082/StupidBug/whatsapp_bvb17i.png" />
    <img class="avatar-large" alt="avatar-large" src="https://res.cloudinary.com/dsgq0xxxv/image/upload/v1611243262/StupidBug/mail_logo_pluahz.png" />
    <img class="avatar-large" alt="avatar-large" src="https://res.cloudinary.com/dsgq0xxxv/image/upload/v1608133181/Saint-Emilion/MyStupidBug/ps_logo_incudw.png" />
    <img class="avatar-large" alt="avatar-large" src="https://res.cloudinary.com/dsgq0xxxv/image/upload/v1613154578/StupidBug/facebook-logo_gn8cgi.png" />
  </div>
</div>

<div class="container">
  <div class="row inline">
    <div class="col-lg-6 col-sm-12 left-box">
      <h2 class="login-text box-title">How it works</h2>
      <h2 class="box-time">30 min</h2>
      <p class="box-text">with an expert to solve your technical issue.</p>
      <p class="box-bullets">- Feedback on your existing campaigns.<br>- Personalized advice on improving your ROI.<br>- Personalized advice on improving your ROI.</p>
      <p class="box-pricing">Pricing: £15</p>
      <%= link_to "Chat to us", comingsoon_path, class: "btn-box" %>
    </div>

    <div class="d-none d-sm-block col-md-12 col-lg-6 box-banner">
    </div>
  </div>
</div>
