<div class="container">
  <div class="row inline solution">
    <div class="col-lg-5 col-sm-12">
      <h1 class="solution-text">Quick fix</h1>
      <h2>Got a meeting in a few hours and you can't figure out how to start Zoom? Can't get your emails?</h2>
      <h2 class="cta-text">We'll help you fix it in a 30 min phone call.</h2>
    </div>

    <div class="col-lg-5 col-sm-12">
      <h1 class="solution-text">Expert advice</h1>
      <h2>Wish you had a friend who was a pro at Facebook ads? Coding? Excel? Instagram marketing?</h2>
      <h2 class="cta-text">Get personalized advice from a pro in a 1 hour!</h2>
    </div>
  </div>
</div>
